In [1]:
#盗窃数据
import pandas as pd
# 读取数据
df = pd.read_csv("data/MPS_LSOA_Level_Crime_(Historical).csv")

# 筛选 major_category 为 Theft
df_theft = df[df["Major Category"].str.upper().str.contains("THEFT")]

# 筛选出列名是数字的
date_cols = [col for col in df_theft.columns if col.isdigit()]

# 只保留 201501–201912
date_cols = [col for col in date_cols if "201501" <= col <= "201912"]

# 再选出其他保留列（如 LSOA 代码 / 名称）
keep_cols = ["LSOA Code", "LSOA Name", "Borough", "Minor Category"] + date_cols
df_filtered = df_theft[keep_cols]

# 转换成长格式
df_long = df_filtered.melt(
    id_vars=["LSOA Code", "LSOA Name", "Minor Category"],
    value_vars=[col for col in df_filtered.columns if col.isdigit() and "201501" <= col <= "201912"],
    var_name="Month", value_name="Count"
)

# 增加年份column
df_long["Year"] = df_long["Month"].str[:4].astype(int)

# 计算每年的总和
df_yearly = (
    df_long
    .groupby(["LSOA Code", "Year"])["Count"]
    .sum()
    .reset_index()
    .rename(columns={"Count": "Theft Count"})
)

print(df_yearly.shape)
print(df_yearly.head())
print(df_yearly.isnull().sum())
print(df_yearly.dtypes)

(24940, 3)
   LSOA Code  Year  Theft Count
0  E01000006  2015            3
1  E01000006  2016            8
2  E01000006  2017            9
3  E01000006  2018           15
4  E01000006  2019            6
LSOA Code      0
Year           0
Theft Count    0
dtype: int64
LSOA Code      object
Year            int64
Theft Count     int64
dtype: object

In [2]:
#人口数据

# 导入
pop = pd.ExcelFile("data/sapelsoabroadage20112022.xlsx")
sheet_names = pop.sheet_names

# 定义需要的数据
target_sheets =['Mid-2015 LSOA 2021', 'Mid-2016 LSOA 2021', 'Mid-2017 LSOA 2021', 'Mid-2018 LSOA 2021', 'Mid-2019 LSOA 2021']
target_year = {'Mid-2015 LSOA 2021': 2015, 'Mid-2016 LSOA 2021': 2016, 'Mid-2017 LSOA 2021': 2017, 'Mid-2018 LSOA 2021': 2018, 'Mid-2019 LSOA 2021': 2019}

# 合并所有需要的数据表
pop_list=[]
for sheet in target_sheets:
    df_pop = pop.parse(sheet, skiprows=3, header=0)
    df_pop.columns = df_pop.columns.str.strip()
    df_pop = df_pop.rename(columns={
        "LSOA 2021 Code": "LSOA Code",
        "Total": "Population"
    })
    df_pop["Year"] = target_year[sheet]
    df_pop["Vulnerable_Group"] = df_pop["M65 and over"] + df_pop["F65 and over"] + df_pop["F0 to 15"] + df_pop["M0 to 15"]
    df_pop["Vulnerable_Ratio"] = df_pop["Vulnerable_Group"] / df_pop["Population"]

    pop_list.append(df_pop[["LSOA Code", "Year", "Population", "Vulnerable_Ratio"]])

pop_fin = pd.concat(pop_list, ignore_index=True)

# 伦敦数据
london_lsoa = df_yearly["LSOA Code"].unique()

london_pop = pop_fin[pop_fin["LSOA Code"].isin(london_lsoa)]

print(london_pop.shape)
print(london_pop.head())
print(london_pop.isnull().sum())
print(london_pop.dtypes)

(24940, 4)
       LSOA Code  Year  Population  Vulnerable_Ratio
28767  E01000006  2015        1929          0.325557
28768  E01000007  2015        2158          0.297498
28769  E01000008  2015        1650          0.374545
28770  E01000009  2015        1737          0.298791
28771  E01000011  2015        1647          0.313297
LSOA Code           0
Year                0
Population          0
Vulnerable_Ratio    0
dtype: int64
LSOA Code            object
Year                  int64
Population            int64
Vulnerable_Ratio    float64
dtype: object

In [3]:
# 清洗人口密度数据
# 导入
den = pd.ExcelFile("data/sapelsoapopulationdensity20112022.xlsx")
sheet_names_den = den.sheet_names

df_den = den.parse(sheet_name="Mid-2011 to mid-2022 LSOA 2021", skiprows=3, header=0)
df_den.columns = df_den.columns.str.strip()
df_den = df_den.rename(columns={"LSOA 2021 Code": "LSOA Code",
                                "Mid-2015: People per Sq Km": "2015",
                                "Mid-2016: People per Sq Km": "2016",
                                "Mid-2017: People per Sq Km": "2017",
                                "Mid-2018: People per Sq Km": "2018",
                                "Mid-2019: People per Sq Km": "2019"})
keep_cols2 = ["LSOA Code", "2015", "2016", "2017", "2018", "2019"]
df_den = df_den[keep_cols2]


# 转换长格式
den_long = pd.melt(df_den, 
                   id_vars=["LSOA Code"], 
                   var_name="Year", 
                   value_name="Population Density")

den_long["Year"] = den_long["Year"].astype(int)
den_long["LSOA Code"] = den_long["LSOA Code"].astype(str)

# 筛选伦敦
london_den = den_long[den_long["LSOA Code"].isin(london_lsoa)]

print(london_den.shape)
print(london_den.head())
print(london_den.isnull().sum())
print(london_den.dtypes)

(24940, 3)
   LSOA Code  Year  Population Density
4  E01000006  2015        13158.253752
5  E01000007  2015        10790.000000
6  E01000008  2015         8522.727273
7  E01000009  2015        13580.922596
8  E01000011  2015        17960.741549
LSOA Code             0
Year                  0
Population Density    0
dtype: int64
LSOA Code              object
Year                    int64
Population Density    float64
dtype: object

In [4]:
# 房价数据
housing = pd.ExcelFile("data/hpssadataset46medianpricepaidforresidentialpropertiesbylsoa/median_price.xlsx")
sheet_names_housing = housing.sheet_names

df_housing = housing.parse(sheet_name="1a", skiprows=5, header=0)
df_housing.columns = df_housing.columns.str.strip()
df_housing = df_housing.rename(columns={"LSOA code": "LSOA Code"})
df_housing = df_housing[df_housing["LSOA Code"].isin(london_lsoa)]

# melt 所有列（除了 LSOA code、name）变成行
housing_long = pd.melt(df_housing, 
                  id_vars=["LSOA Code"], 
                  var_name="Date", 
                  value_name="House Price")

# 提取 4 位数年份作为新的一列
housing_long["House Price"] = pd.to_numeric(housing_long["House Price"], errors="coerce")

# 再安全地转成整数
housing_long["Year"] = housing_long["Date"].str.extract(r"(\d{4})")
housing_long = housing_long.dropna(subset=["Year"])
housing_long["Year"] = housing_long["Year"].astype(int)
housing_yearly = housing_long.groupby(["LSOA Code", "Year"])["House Price"].mean().reset_index()

london_housing = housing_yearly[housing_yearly["LSOA Code"].isin(london_lsoa)&
    (housing_yearly["Year"].between(2015, 2019))]

print(london_housing.shape)
print(london_housing.head())
print(london_housing.isnull().sum())
print(london_housing.dtypes)

(23265, 3)
    LSOA Code  Year  House Price
20  E01000006  2015     196125.0
21  E01000006  2016     349062.5
22  E01000006  2017     408500.0
23  E01000006  2018     379375.0
24  E01000006  2019     247375.0
LSOA Code        0
Year             0
House Price    542
dtype: int64
LSOA Code       object
Year             int64
House Price    float64
dtype: object

In [5]:
# 补房价空缺值
london_housing["House Price"] = london_housing.groupby("LSOA Code")["House Price"].transform(lambda x: x.fillna(x.mean()))
london_housing["House Price"] = london_housing["House Price"].fillna(london_housing["House Price"].median())
print(london_housing.head())
print(london_housing.isnull().sum())
print(london_housing.dtypes)

    LSOA Code  Year  House Price
20  E01000006  2015     196125.0
21  E01000006  2016     349062.5
22  E01000006  2017     408500.0
23  E01000006  2018     379375.0
24  E01000006  2019     247375.0
LSOA Code      0
Year           0
House Price    0
dtype: int64
LSOA Code       object
Year             int64
House Price    float64
dtype: object

C:\Users\hp\AppData\Local\Temp\ipykernel_62660\3209577664.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  london_housing["House Price"] = london_housing.groupby("LSOA Code")["House Price"].transform(lambda x: x.fillna(x.mean()))
C:\Users\hp\AppData\Local\Temp\ipykernel_62660\3209577664.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  london_housing["House Price"] = london_housing["House Price"].fillna(london_housing["House Price"].median())

In [6]:
# imd数据
IMD = pd.ExcelFile("data/File_5_-_IoD2019_Scores.xlsx")

sheet_names_IMD = IMD.sheet_names

df_IMD = IMD.parse(sheet_name="IoD2019 Scores", header=0)
df_IMD.columns = df_IMD.columns.str.strip()
df_IMD = df_IMD.rename(columns={"LSOA code (2011)": "LSOA Code"})
df_IMD = df_IMD[df_IMD["LSOA Code"].isin(london_lsoa)]

keep_cols3 = ["LSOA Code", "Income Score (rate)", 
              "Employment Score (rate)", 
              "Education, Skills and Training Score", 
              "Health Deprivation and Disability Score", 
              "Barriers to Housing and Services Score", 
              "Living Environment Score"]
IMD_fin = df_IMD[keep_cols3]

print(IMD_fin.shape)
print(IMD_fin.isnull().sum())
print(IMD_fin.dtypes)

(4653, 7)
LSOA Code                                  0
Income Score (rate)                        0
Employment Score (rate)                    0
Education, Skills and Training Score       0
Health Deprivation and Disability Score    0
Barriers to Housing and Services Score     0
Living Environment Score                   0
dtype: int64
LSOA Code                                   object
Income Score (rate)                        float64
Employment Score (rate)                    float64
Education, Skills and Training Score       float64
Health Deprivation and Disability Score    float64
Barriers to Housing and Services Score     float64
Living Environment Score                   float64
dtype: object

In [7]:
# 筛选lsoa2011
lsoa11 = IMD_fin["LSOA Code"].unique()

df_yearly = df_yearly[df_yearly["LSOA Code"].isin(lsoa11)]
london_pop = london_pop[london_pop["LSOA Code"].isin(lsoa11)]
london_den = london_den[london_den["LSOA Code"].isin(lsoa11)]
london_housing = london_housing[london_housing["LSOA Code"].isin(lsoa11)]

In [8]:
# 合并数据集
df_model = df_yearly.copy()
df_model = df_model.merge(london_pop, on=["LSOA Code", "Year"], how="left")
df_model = df_model.merge(london_den, on=["LSOA Code", "Year"], how="left")
df_model = df_model.merge(london_housing, on=["LSOA Code", "Year"], how="left")

print(df_model.head())
print(df_model.shape)
print(df_model.isnull().sum())

   LSOA Code  Year  Theft Count  Population  Vulnerable_Ratio  \
0  E01000006  2015            3        1929          0.325557
1  E01000006  2016            8        1882          0.319872
2  E01000006  2017            9        1852          0.322894
3  E01000006  2018           15        1844          0.329176
4  E01000006  2019            6        1844          0.315076

   Population Density  House Price
0        13158.253752     196125.0
1        12837.653479     349062.5
2        12633.015007     408500.0
3        12578.444748     379375.0
4        12578.444748     247375.0
(23265, 7)
LSOA Code             0
Year                  0
Theft Count           0
Population            0
Vulnerable_Ratio      0
Population Density    0
House Price           0
dtype: int64

In [9]:
# 每千人盗窃率
df_model["Theft_Rate_per1k"] = df_model["Theft Count"] / df_model["Population"] * 1000

In [10]:
# 合并静态数据集
df_model = df_model.merge(IMD_fin, on="LSOA Code", how="left")

In [11]:
# 删掉不需要的数据
df_model = df_model.drop(columns=["Theft Count", "Population"])

# 修改column名字
df_model.columns = df_model.columns.str.replace(" ", "_")
df_model.columns = df_model.columns.str.replace(r"[()/]", "", regex=True)

print(df_model.head())
print(df_model.shape)
print(df_model.isnull().sum())

   LSOA_Code  Year  Vulnerable_Ratio  Population_Density  House_Price  \
0  E01000006  2015          0.325557        13158.253752     196125.0
1  E01000006  2016          0.319872        12837.653479     349062.5
2  E01000006  2017          0.322894        12633.015007     408500.0
3  E01000006  2018          0.329176        12578.444748     379375.0
4  E01000006  2019          0.315076        12578.444748     247375.0

   Theft_Rate_per1k  Income_Score_rate  Employment_Score_rate  \
0          1.555210              0.117                  0.059
1          4.250797              0.117                  0.059
2          4.859611              0.117                  0.059
3          8.134490              0.117                  0.059
4          3.253796              0.117                  0.059

   Education,_Skills_and_Training_Score  \
0                                14.798
1                                14.798
2                                14.798
3                                14.798
4                                14.798

   Health_Deprivation_and_Disability_Score  \
0                                   -0.359
1                                   -0.359
2                                   -0.359
3                                   -0.359
4                                   -0.359

   Barriers_to_Housing_and_Services_Score  Living_Environment_Score
0                                  45.171                    26.888
1                                  45.171                    26.888
2                                  45.171                    26.888
3                                  45.171                    26.888
4                                  45.171                    26.888
(23265, 12)
LSOA_Code                                  0
Year                                       0
Vulnerable_Ratio                           0
Population_Density                         0
House_Price                                0
Theft_Rate_per1k                           0
Income_Score_rate                          0
Employment_Score_rate                      0
Education,_Skills_and_Training_Score       0
Health_Deprivation_and_Disability_Score    0
Barriers_to_Housing_and_Services_Score     0
Living_Environment_Score                   0
dtype: int64

In [12]:
# 尝试进行poi数据获取
import osmnx as ox
print(ox.__version__)

import geopandas as gpd

# 使用新的 feature 下载方式
place = "London, UK"
tags1 = {"railway": "station", "highway": "bus_stop"}  # 地铁或火车站
tags2 = {"shop": True } # 商店
gdf1 = ox.features_from_place(place, tags1)
gdf2 = ox.features_from_place(place, tags2)
print(gdf1.head())

2.0.1
                                   geometry fare_zone  \
element id
node    780856    POINT (-0.22631 51.50607)         2
        1256794   POINT (-0.47183 51.50974)         6
        2013971   POINT (-0.19232 51.60084)         4
        9780241    POINT (0.10572 51.39474)       NaN
        13884199   POINT (-0.2488 51.61267)       NaN

                                       line                    name  \
element id
node    780856    Hammersmith & City;Circle  Shepherd's Bush Market
        1256794                         NaN            West Drayton
        2013971                    Northern        Finchley Central
        9780241                         NaN            St Mary Cray
        13884199                        NaN      Mill Hill Broadway

                             name:ru naptan:AtcoCode  \
element id
node    780856    Шепердс-Буш-Маркет     940GZZLUSBM
        1256794                  NaN     9100WDRYTON
        2013971                  NaN     940GZZLUFYC
        9780241                  NaN      9100STMRYC
        13884199                 NaN        9100MLHB

                                       network public_transport  railway  \
element id
node    780856              London Underground          station  station
        1256794   National Rail;Elizabeth Line          station  station
        2013971             London Underground          station  station
        9780241                  National Rail          station  station
        13884199                 National Rail          station  station

                                                         source_ref  ...  \
element id                                                           ...
node    780856    http://en.wikipedia.org/wiki/List_of_London_Un...  ...
        1256794   http://en.wikipedia.org/wiki/List_of_London_ra...  ...
        2013971                                                 NaN  ...
        9780241                                                 NaN  ...
        13884199                                                NaN  ...

                 name:pa name:pnb ref:GB:uprn wheelchair:note phone  \
element id
node    780856       NaN      NaN         NaN             NaN   NaN
        1256794      NaN      NaN         NaN             NaN   NaN
        2013971      NaN      NaN         NaN             NaN   NaN
        9780241      NaN      NaN         NaN             NaN   NaN
        13884199     NaN      NaN         NaN             NaN   NaN

                 proposed:public_transport information name:official bicycle  \
element id
node    780856                         NaN         NaN           NaN     NaN
        1256794                        NaN         NaN           NaN     NaN
        2013971                        NaN         NaN           NaN     NaN
        9780241                        NaN         NaN           NaN     NaN
        13884199                       NaN         NaN           NaN     NaN

                 foot
element id
node    780856    NaN
        1256794   NaN
        2013971   NaN
        9780241   NaN
        13884199  NaN

[5 rows x 254 columns]

In [13]:
lsoa_gdf = gpd.read_file("data/statistical-gis-boundaries-london/statistical-gis-boundaries-london/ESRI/LSOA_2011_London_gen_MHW.shp")
print(lsoa_gdf.shape)

(4835, 15)

In [14]:
tran_poi_gdf = gdf1.to_crs(lsoa_gdf.crs)
shop_poi_gdf = gdf2.to_crs(lsoa_gdf.crs)

In [15]:
shop_poi_gdf["geometry"] = shop_poi_gdf.geometry.centroid

In [16]:
print(tran_poi_gdf.geometry.type.value_counts())
print(shop_poi_gdf.geometry.type.value_counts())

Point    20391
Name: count, dtype: int64
Point    40834
Name: count, dtype: int64

In [17]:
joined = gpd.sjoin(tran_poi_gdf, lsoa_gdf, how='inner', predicate='within')
tran_poi_count = joined.groupby('LSOA11CD').size().reset_index(name='tran_poi_count')
tran_poi_count = tran_poi_count.rename(columns={"LSOA11CD": "LSOA_Code"})
print(tran_poi_count.head())
print(tran_poi_count.shape)

   LSOA_Code  tran_poi_count
0  E01000007               5
1  E01000008               1
2  E01000009               7
3  E01000010              12
4  E01000011               1
(4334, 2)

In [18]:
df_model = df_model.merge(tran_poi_count, on="LSOA_Code", how="left")
df_model["tran_poi_count"] = df_model["tran_poi_count"].fillna(0).astype(int)

In [19]:
joined = gpd.sjoin(shop_poi_gdf, lsoa_gdf, how='inner', predicate='within')
shop_poi_count = joined.groupby('LSOA11CD').size().reset_index(name='shop_poi_count')
shop_poi_count = shop_poi_count.rename(columns={"LSOA11CD": "LSOA_Code"})
print(shop_poi_count.head())
print(shop_poi_count.shape)

   LSOA_Code  shop_poi_count
0  E01000005               1
1  E01000007              13
2  E01000008               5
3  E01000009              15
4  E01000010              96
(3212, 2)

In [20]:
df_model = df_model.merge(shop_poi_count, on="LSOA_Code", how="left")
df_model["shop_poi_count"] = df_model["shop_poi_count"].fillna(0).astype(int)

In [21]:
print(df_model.columns)

Index(['LSOA_Code', 'Year', 'Vulnerable_Ratio', 'Population_Density',
       'House_Price', 'Theft_Rate_per1k', 'Income_Score_rate',
       'Employment_Score_rate', 'Education,_Skills_and_Training_Score',
       'Health_Deprivation_and_Disability_Score',
       'Barriers_to_Housing_and_Services_Score', 'Living_Environment_Score',
       'tran_poi_count', 'shop_poi_count'],
      dtype='object')

In [22]:
df_model.to_csv("london_model_with_poi.csv", index=False)